<div class="start-page">
  <div class="card">
    <div class="header">
      <h1 class="title">
        <a routerLink="/">Wordolino</a>
      </h1>
    </div>
    <p class="tagline">Wordolino is an interactive English learning game designed to enhance vocabulary and language skills.</p>
    <div class="actions">
      <button class="btn play" (click)="navigateToGame()">Play Now</button>
      <button class="btn sign-in">Sign In</button>
    </div>
    <div class="footer">
      <button class="btn donate">
        <a href="https://buymeacoffee.com/mkambur" target="_blank">Donate</a>
      </button>
      <button class="btn scores">High Scores</button>
    </div>
  </div>

  <footer class="page-footer">
    <a href="https://github.com/mkamburdev/Wordolino" target="_blank">GitHub</a> | 
    <a href="https://github.com/mkamburdev" target="_blank">mkamburdev</a>
  </footer>
</div>
